@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italianno&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .font-cursive {
    font-family: 'Italianno', cursive;
  }
  .font-serif-display {
    font-family: 'Playfair Display', serif;
  }
  .gta-filter {
    filter: contrast(1.25) saturate(1.3) brightness(0.95);
  }
}

body {
  background-color: #000;
  color: #fff;
}
